<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>image2text</title>
    <script type="text/javascript">
        async function submit_cvt() {
            let cvtForm = document.getElementById("cvt_form")
            let cvtDate = new FormData(cvtForm)
            let response = await fetch('/cvt', {
                method: "POST",
                body: cvtDate
            })
            document.getElementById('txt_show').innerText = await response.text()
            document.getElementById('copy_btn').hidden = null
        }
    </script>

</head>
<body>

<form action="/cvt" method="post" id="cvt_form">
    <table>
        <tr>
            <td>选择文件</td>
            <td><input type="file" name="image"></td>
        </tr>
        <tr>
            <td>一行几个字符</td>
            <td><label>
                <input type="number" name="n" value="30">
            </label></td>
        </tr>
        <tr>
            <td>阈值，0到255</td>
            <td><label>
                <input type="number" name="threshold" value="127">
            </label></td>
        </tr>
        <tr>
            <td>图片反相</td>
            <td><label>
                <input type="checkbox" checked name="image_inverse">
            </label></td>
        </tr>
        <tr>
            <td>提交</td>
            <td>
                <button onclick="submit_cvt()" type="button">
                    提交
                </button>
            </td>
        </tr>
    </table>
</form>
<button id="copy_btn" onclick="navigator.clipboard.writeText(document.getElementById('txt_show').innerText)"
        hidden="hidden">复制文本
</button>
<pre id="txt_show"></pre>
</body>
</html>